FLASHFLOOD_CDSE_USERNAME=
FLASHFLOOD_CDSE_PASSWORD=
GSMAP_STANDARD_URL_TEMPLATE=
GSMAP_NOW_URL_TEMPLATE=
GSMAP_USERNAME=
GSMAP_PASSWORD=
CDSAPI_URL=
CDSAPI_KEY=
OPEN_METEO_API_KEY=
LAKEHOUSE_DATA_ROOT=
LAKEHOUSE_POSTGRES_PASSWORD=
AIRFLOW_DB_PASSWORD=
POLARIS_DB_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
POLARIS_CLIENT_ID=
POLARIS_CLIENT_SECRET=
AIRFLOW_FERNET_KEY=
AIRFLOW_API_SECRET_KEY=
AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_UID=
